* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;   
}

.formBg{
    background-image:url(../img/formbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.mainBg{
    text-align: center;
    padding: 1.5rem;
    height: 75vh;
}

.formData{
    overflow-y: scroll;
    height: 75vh;
    background-color: rgb(238,236,243);
    border: #ffffff solid 5px;
    border-radius: 15px;
    padding: 15px;
    color:#525252;
}

.formHeader {
    font-size: 21px;
}

.formContent {
    margin-top: 18px;
}

input[type="text"]{
    /* height: 1em; */
    /* margin: 0 10px 0; */
    /* border-top: none;
    border-left: none;
    border-right: none; */
    /* width: 400px; */
    /* font-size: 1.3em; */
    padding-left: 10px;
    /* background-color: transparent; */
}

input[type="text"]:focus{
    outline:none;
}

label p {
    text-align: left;
    font-size: 14px;
    margin-top:0;
    color:#525252;
    font-family: 'Poppins', sans-serif;
}

.formData span{
    color:red;
}

.formData .checkP{
    font-size: 12px;
}
.formData .checkTxt{
    text-decoration: underline;
    color:#0bbf7d;
}

::placeholder{
    font-size: 14px;
}

.forCheckbox{
    text-align: right;
}

#formBtn {
    background-color: #0bbf7d;
    padding:10px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color:#fff;
    border: 1px #cefece solid;
}

select, input[type="date"] {
    font-size: 12px;
}

.submitClass{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.resetClass{
    text-align: right;
    font-family: 'Poppins', sans-serif;
}

.formHeader{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color:#525252;
}

.closeBtn{
    color:#525252;
    font-family: 'Poppins', sans-serif;

}
.humMenu{
    color:#525252;
    font-family: 'Poppins', sans-serif;
}

p.errorText{
    color:red;
    font-size: 12px;
}

/* style of validity date span */
span::after{
    color:red;
    font-weight: bold;
}
span::after {
    padding-left: 5px;
    }

input:invalid + span::after {
    content: '✖';
    }

input:valid+span::after {
    content: '✓';
    }
