.App {
    height: 100vh;
    
}



.App-link {
  color: #61dafb;
}



nav{
  padding:10px 5px 5px 5px;
  background-color: orange;
}
nav>ul{
  list-style-type: none;
  display: flex;
}
nav>ul>li{
  flex: 1;
  font-weight: bold;
  font-size: 1.5em;
  color:#0bbf7d;
  font-family: 'Poppins', sans-serif;
}

